@charset "UTF-8";

/* スマートフォンファースト制作 */

/*初期設定
----------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=M+PLUS+Rounded+1c&display=swap");

html {
  /* margin: 0 auto; */
  font-size: 62.5%;
  /* ベースフォントサイズ　10px */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: blue;
}

a {
  text-decoration: none;
  color: #fff;
}
.main_visual{
  background-image: url("../img/back.jpg");
  height: 100vh;
  background-image: cover;
  background-position: center;
  width: 100%;
}

.header_top{
  height: 160px;
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.header_logo{
  height: 80px;
  margin-top: 40px;
  margin-left: 80px;
}

.main_wrapper {
  margin: 0 40px;
  overflow: hidden;
}

.left {
  margin-left: 5%;
}

.flip-horizontal {
  transform: scale(-1, 1);
}

.center {
  margin-left: 40%;
}

.right {
  margin-left: 70%;
}

/* 水深メーター */

.suisin{
  color: #fff;
  position: fixed;
  z-index: 100;
  font-size: 36px;
  letter-spacing: 0.75rem;
  margin-left: 80%;
  padding-top: 540px;
  /*デフォルトで非表示にする*/
  opacity: 0;
  visibility: hidden;
}
.active{
  opacity: 1;
  visibility: visible;
}

/* ボタン処理 */

.zukan_btn{
  margin-top: -64px;
  margin-left: 26%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
}

a.btn-3d-flip {
  display: block;

  width: 120px;
  margin: 0 auto;
  padding: 0;

  -webkit-perspective: 600px;

  perspective: 600px;
}

a.btn-3d-flip:hover .btn-3d-flip-box {
  -webkit-transform: translateY(-50%) rotateX(90deg);
  transform: translateY(-50%) rotateX(90deg);
}

a.btn-3d-flip.btn-3d-flip2:hover .btn-3d-flip-box2 {
  -webkit-transform: translateX(-50%) rotateY(-90deg);
  transform: translateX(-50%) rotateY(-90deg);
}

.btn-3d-flip-box {
  position: relative;

  display: block;

  width: 100%;
  height: 100%;
  margin: auto;

  -webkit-transition: all 0.4s;

  transition: all 0.4s;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;

}

.btn-3d-flip-box2 {
  position: relative;

  display: block;

  width: 100%;
  height: 100%;
  margin: auto;

  -webkit-transition: all 0.4s;

  transition: all 0.4s;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;
}

.btn-3d-flip-box-face {
  display: block;
  position: relative;

  width: 100%;
  padding: 1rem 0;

  -webkit-transition: all 0.4s;

  transition: all 0.4s;

  color: #fff;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}

.btn-3d-flip-box-face--front {
  background: #eb6100;
}

.btn-3d-flip-box-face--back {
  position: absolute;
  top: 100%;
  left: 0;

  -webkit-transform: translateY(-1px) rotateX(-90deg);

  transform: translateY(-1px) rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;

  background: #dc5b00;
}

.btn-3d-flip-box-face--front2 {
  color: #000;
  border: 2px solid #000;
  background: #fff;
}

.btn-3d-flip-box-face--back2 {
  position: absolute;
  top: 0;
  left: 100%;

  -webkit-transform: translateX(-1px) rotateY(90deg);

  transform: translateX(-1px) rotateY(90deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;

  color: #fff;
  border: 2px solid #000;
  background: #000;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - 0.5em);
  right: 1rem;
}
/* 検索欄 */
.search{

  margin-top: -40px;
  margin-left: 70%;
}
.search_box{
  padding-left: 12px;
  width: 240px;
  height: 34px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 1.4rem;
}
.search_btn{
  padding: 8px 18px;
  border-radius: 8px;
  outline: none;
  border:none;
  margin-left: 10px;
  font-size: 1.2rem;
}
